.b-pro-wiget__date span {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}
.b-short-description {
  font-size: 18px;
  line-height: 1.55;
  font-family: 'Georgia', serif;
}
.tpf_event_link {
  font-size: 18px;
}